.list{
    position: relative;
    width: 20%;
}
.image{
    display: block;
    width: 100%;
    height: auto;
}
.active_1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#008CBA;
}
.list:hover .active_1 {
    opacity: 1;/*不透明等级*/
}
.text_head{
    color:white;
    font-size:20px;
    position: absolute;
    top: 10%;
}
.text {
    text-indent: 20px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.main{
    display: flex;
    justify-content: center;
    width: 70%;
}
/****************************************************************/
/* 创建并排的三个非等列 */
.column {
    float: left;
    width: 33.33%;
    padding: 20px;
  }
  
  /* 清除列之后的浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* 响应式布局 - 创建堆叠而非并排的三列 */
@media screen and (max-width:1000px) {
    .column {
      width: 120%;
    }
}